@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');


body {
    background-color: #c1bdba;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.056);
    z-index: 1;
}

.form-container {
    width: 350px;
    margin: 10% auto;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.51);
    background-color: rgba(19, 35, 47, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 2em;
    font-family: 'Titillium Web', sans-serif;

    --margin-size: 15px 0;
}

.form-container .header {
    font-weight: 400;
    text-align: center;
    margin: var(--margin-size);
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-container .form-input {
    border: none;
    height: 25px;
    background-color: transparent;
    border: 1px solid white;
    margin: var(--margin-size);
    color: inherit;
}

.control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--margin-size);
}

.control-buttons button {
    flex-grow: 1;
    height: 40px;
    border: none;
    color: inherit;
    font-size: 1em;
    font-weight: lighter;
    transition: background-color 300ms ease-in-out;
}

.button-on {
    background-color: #1ab188;
}

.button-on:hover, .button-off:hover {
    cursor: pointer;
    background-color: #229e7d;
}

.button-off {
    background-color: rgba(160, 179, 176, 0.25)
}

.submit-button {
    height: 45px;
    border: none;
    background-color: #1ab188;
    color: inherit;
    font-size: 1.8em;
    margin: var(--margin-size);
}