.container {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: blueviolet;
  transition: 500ms width easy;
  display: none;
}

.openMenu {
  /* width: 200px; */
  display: block;
}
